html {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}

p {
    margin: 8px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.wrapper img {
    width: 50%;
    height: 50%;
}

.form, .signup-form {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 16px;
}

.text-box {
    font-weight: bold;
    font-size: 24px;
    padding: 8px;
    margin: 8px;
}

.signup-form div {
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
}

.account {
    display: flex;
    flex-direction: column;
}

.account button {
    width: 120px;
    height: 40px;
    margin: 8px;
}